.product__form_sticky {
  background: white;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: 54px;
  z-index: 10;
}

.variant-selector__status-hidden {
  display: none;
}

.cart__banner {
  background: none;
  border-bottom: 0.0625rem solid #ddd;
}

/*************** Progress progress-bar ****************/
.progress-bar {
  width: 85%;
  margin-top: 1.875rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.progress-bar ul {
  display: flex;
}
.progress-bar ul li {
  display: block;
  position: relative;
  flex: 1;
  list-style: none;
  width: auto;
  margin-left: 2px;
  text-align: right;
}
.progress-bar span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #a19f9c;
}
.progress-bar ul li:first-child span::before,
.progress-bar ul li:first-child span::after {
  border-radius: 5px 0 0 5px;
}
.progress-bar ul li:last-child span::before,
.progress-bar ul li:last-child span::after {
  border-radius: 0 5px 5px 0;
}
.progress-bar span::before {
  display: block;
  content: '';
  height: 5px;
  background: #ddad99;
  position: absolute;
  left: -25%;
  bottom: 25px;
  z-index: 99;
}
.progress-bar span::after {
  display: block;
  content: '';
  background: #f5e0d6;
  height: 5px;
  width: 100%;
  position: absolute;
  right: 25%;
  bottom: 25px;
}

.progress-bar .current::before {
  background: #ddad99;
  width: calc(var(--width, 0) * 1%);
}
.progress-bar .completed::after {
  background: #ddad99;
}
